.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 30%;
  flex-direction: column;

  gap: 5px;

}

input{
  width: 20vw;
  height: 5vh;
  font-size: 30px;
}

button{
  width: 10vw;
  height: 5vh;
}
.inputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;


}
